@import '../../../styles/settings.scss';


.btn {
    width: 150px;
    height: 60px;
    border: none;
    background-color: inherit;
    color: $color-light;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
    z-index: 2;
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid $color-light;
  
}