.product {
    width: 400px;
    padding: 1rem;
    height: auto;
    margin-bottom: 3rem;
}

.img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    transition: all 1s;
    
}

.img:hover {
    transform: scale(1.2);
    cursor: pointer;
    
}

.imgDiv {
    overflow: hidden;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}